@import '@/app/styles/tailwind.css';

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    background-color: hsl(var(--background));
}

[class*="__container"] {
    max-width: 1728px;
    margin: 0 auto;
    @media screen and (max-width: 1536px) {
        max-width: 1440px;
    }
  }