.auth-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    height: 100vh;
}

.default-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}